consul {
  address = "{{ consul_template_consul_address }}"

  limits {
    http_max_conns_per_client = {{ consul_http_max_conns_per_client }}
  }

  retry {
    enabled  = true
    attempts = 12
    backoff  = "250ms"
  }
}
