[Unit]
Description=Consul Template service
Requires=network-online.target
After=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=6

[Service]
User=root
Group=root
ExecStart=/usr/bin/consul-template -log-level=info -template-error-fatal=false -config=/etc/consul-template/config/
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target
